.login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.logo-container img {
    width: 10%;
    min-width: 7rem;
}

form {
    min-width: 16rem;
}
input[type="text"],
input[type="password"] {
    height: 25px;
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)!important;
    padding: 8px 0px!important;
    margin: 0!important;
    outline: none;
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #752bd7;
    border-radius: 2rem;
    color: #fff;
    padding: 10px 25px;
}

input[type="submit"]:hover {
    background: #6cf0c2;
}

.button-container {
    display: flex;
    justify-content: end;
}

.login-form {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
    margin-left: 0.67rem;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.title {
    margin-left: 1rem;
    min-width: 16rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.title-desc {
    margin-left: 1rem;
    min-width: 16rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.link-signup {
    position: absolute;
    bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.link-signup a {
    color: red;
    text-decoration: none;
}

::-webkit-input-placeholder { /* Edge */
    font-style: italic;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}
  
::placeholder {
    font-style: italic;
}