:root {
    --background-body: #E5E5E5;
    --background-content: #1D1D1D;
    --text-color: #292929;
    --primary-color: #4DFF7C;
    --second-color: #89DDFF;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-body);
    color: var(--text-color);
}